In [1]:
setwd ("~/WGS/Sequences/hiseq_2016_12_07_complete/"dir = )

In [2]:
NJE23=read.table("NJ_E_23/NJ_E_23_BaseCoverage_0name.txt", header=FALSE)

In [6]:
NJE24=read.table("NJ_E_24/NJ_E_24_BaseCoverage_0name.txt", header=FALSE)

In [ ]:
NJE25=read.table("NJ_E_25/NJ_E_25_BaseCoverage_0name.txt", header=FALSE)

In [13]:
head(NJE23)

  scaffold bp  depth sample
1 GL429767 151 0     NJ_E_23
2 GL429767 152 0     NJ_E_23
3 GL429767 153 0     NJ_E_23
4 GL429767 154 0     NJ_E_23
5 GL429767 155 0     NJ_E_23
6 GL429767 156 0     NJ_E_23

In [7]:
head(NJE24)

  V1       V2  V3 V4
1 GL429767 119 0  NJ_E_24
2 GL429767 120 0  NJ_E_24
3 GL429767 121 0  NJ_E_24
4 GL429767 122 0  NJ_E_24
5 GL429767 123 0  NJ_E_24
6 GL429767 124 0  NJ_E_24

In [10]:
colnames(NJE23)=c("scaffold", "bp", "depth", "sample")

In [11]:
colnames(NJE24)=c("scaffold", "bp", "depth", "sample")

In [12]:
none=merge(NJE23, NJE24)

In [ ]:
head(none)

In [ ]:
nrow(none)